<div class="container">
    <div class="team">
        <h1>DREAM<br/>TEAM</h1>
        <img src="../../../../assets/images/logo.png" alt="">
    </div>
    <div class="buttons">
        <ul>
            <li><a routerLink="workout">
                <img src="../../../../assets/images/dumbbell.png" class="color red" alt="">
                <img src="../../../../assets/images/dumbbell gray.png" alt="">
            </a></li>
            <li><a routerLink="diet">
                <img src="../../../../assets/images/restaurant.png" alt="" class="color blue">
                <img src="../../../../assets/images/restaurant gray.png" alt="">
            </a></li>
        </ul>
    </div>
</div>