<div class="container">
    <div>
        <div class="wrap">
            <div class="search">
            <input type="text" class="searchTerm" placeholder="Впишіть назву продукту">
            <button type="submit" class="searchButton">
                    Додати   
            </button>
            </div>
        </div>
        <div class="listOfProd">
            <table>
                <caption>Що ви їли</caption>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Білок</th>
                    <th>Жири</th>
                    <th>Вуглеводи</th>
                    <th>Калорії</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a class="searchButton">
            Скласти рецепт самому  
            
    </a>
        
</div>